<%- model_class = Lead -%>
<div class="page-header">
  <h1><%=t '.title', :default => Lead %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phones) %></th>
      <th><%= model_class.human_attribute_name(:extra) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.id %></td>
        <td><%= lead.contact %></td>
        <td><%= lead.company %></td>
        <td><%= lead.status %></td>
        <td><%= lead.email %></td>
        <td><%= lead.phones %></td>
        <td><%= lead.extra %></td>
        <td><%=l lead.created_at, format: :long %></td>
        <td>
          <%= link_to lead_path(lead), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to lead_path(lead), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lead_path,
            :class => 'btn btn-primary' %>
